out
build
gen
.idea
!.idea/IntelliJ-Lua.iml
!.idea/modules.xml
*.skeleton
.gradle
LuaIDE*.zip
jflex*.jar
*.diff
*.dll
*.exe


*/Debug
*/Release
*.log
*.tlog
*.obj
*.sbr
*.pdb
*.idb
*.user
*.cache
*.db
*.opendb
*.suo
*.sdf