out
build
publish_tmp
.idea
!.idea/IntelliJ-Lua.iml
!.idea/modules.xml
*.skeleton
*.java~
.gradle
jflex*.jar
*.diff
*.dll
*.exe
/*.zip

.vs
*/Debug
*/Release
*.log
*.tlog
*.obj
*.sbr
*.pdb
*.idb
*.user
*.cache
*.db
*.opendb
*.suo
*.sdf
*.iobj
*.ipdb