local emmy = {
    name = "Emmy",
    age = 7,
    longLongProperty = 123
}
local a = 1
local b, c = 2, "3"
local var = 1 -- a short comment
--- doc comment
--- @param par1 Par1Type @some strings
function var:testFun(par1, par2, par3, par4, par5)
   print('hello')
   return self.len + 2
end

var:testFun('par1Value', 'par2Value', 'par3Value', 'par4Value', 'par5Value')

function globalFun()
   return "string" .. var
end

if true then return 123 end

if true then print("123") return 123 end